.container {
  display: flex;
  margin-top: auto;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  padding-bottom: 2rem;
  background-color: white;
  width: 30.9rem;
}

.icon {
  font-size: 40px;
  margin: 0 2px 0 2px;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
  font-weight: 600;
  color: #afafaf;
  text-decoration: none;
  padding: 1rem 0 0 2.5rem;
}

.icon:hover,
.iconWrapper:hover {
  color: #666;
}

/* Mobile Styles */

@media only screen and (max-width: 500px) {
  .iconWrapper {
    padding: 1rem;
  }
}

@media only screen and (max-width: 1150px) {
  .container {
    position: initial;
    margin-top: 2rem;
    width: initial;
    padding-bottom: 0;
  }
}
