.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.3rem 0.7rem;
  text-transform: uppercase;
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 1.5rem;
  background-color: #2b3137;
  border-color: #2b3137;
  color: #fff;
  cursor: pointer;
}

.badge:hover {
  background-color: #2f4f75;
  border-color: #2f4f75;
}

.badge p {
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0;
  padding-left: 0.5rem;
}

.image {
  height: 1.2rem;
}
