.form {
  position: relative;
  padding: 1.5rem 0;
  margin: 2rem 0;
  border-top: 1px solid #ccc;
  width: 100%;
  max-width: 50rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #888;
  padding-bottom: 1.5rem;
  margin: 0;
  line-height: 1.15;
}

.text {
  color: #666;
  text-align: left;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin-bottom: 0.5rem;
}

/* Button Styles */

.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.button {
  background-color: #0070f3;
  border: none;
  color: white;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  height: 40px;
  padding: 0 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin-top: 1rem;
}

.button:hover {
  background-color: #115fb8;
}

.button:disabled,
.button[disabled] {
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* Input Styles */

.input {
  border: 1px solid #a8a8a8;
  border-radius: 3px;
  padding: 0.7rem;
}

.input:focus {
  outline: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Mobile Styles */

@media only screen and (max-width: 650px) {
  .grid {
    padding: 1rem 0;
  }
}
