.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 1rem 4rem 0 4rem;
}

/* Resume Picture and Download Styles */

.resume {
  width: 100%;
  max-width: 50rem;
  margin-top: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1em;
}

.resume-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
}

.resume-download {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.resume-download-text {
  margin: 0 0.5rem 0 0;
  color: #666;
  font-weight: 500;
}

/* Card Styles */

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
