.container {
  margin-left: 35rem;
  padding: 2rem;
  flex: 1;
  background-color: #f8f8f8;
}

.option {
  font-family: Montserrat;
  font-size: 1.2rem;
  color: #767676;
  margin: 0;
  padding: 0 1rem;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  border-bottom-width: 2px;
  border-right: none;
  border-left: none;
  border-top: none;
}

.option-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selected {
  border: 1px solid #0070f3 !important;
  border-bottom-width: 2px !important;
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
  color: #0070f3 !important;
}

.option:hover {
  border: 1px solid #888;
  border-bottom-width: 2px;
  border-right: none;
  border-left: none;
  border-top: none;
  color: #888;
}

/* Mobile View */

@media only screen and (max-width: 1150px) {
  .container {
    margin-left: 0;
  }
}
