.container {
  min-height: 100vh;
  margin-left: 35rem;
  padding: 2rem;
  background-color: #f8f8f8;
}

.option {
  background-color: transparent;
  font-size: 1.2rem;
  color: #717171;
  margin: 0;
  padding: 0 1rem;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  border-bottom-width: 2px;
  border-right: none;
  border-left: none;
  border-top: none;
}

.option-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  user-select: none;
}

.selected {
  border: 1px solid #0070f3 !important;
  border-bottom-width: 2px !important;
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
  color: #006be9 !important;
}

.option:hover,
.option:focus {
  border: 1px solid #888;
  border-bottom-width: 2px;
  border-right: none;
  border-left: none;
  border-top: none;
  color: #888;
  outline: none;
}

.option:focus-visible {
  background-color: #f3f3f3;
  outline: none;
}

/* Mobile View */
@media only screen and (max-width: 1150px) {
  .container {
    margin-left: 0;
  }
}
