.card {
  display: flex;
  flex-direction: column;
  background: none;
  max-width: 80rem;
}

.linkButton {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 40px;
  padding: 0 15px;

  color: white;
  background-color: #4077b8;
  font-weight: 700;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  border-radius: 4px;
}

.linkButton:hover,
.linkButton:focus,
.linkButton:focus-visible {
  background-color: #115fb8;
}

.linkButton[disabled] {
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.image {
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

.image:hover {
  transform: scale(1.05);
}

.title {
  color: #2b3137;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1.5rem 0 0rem 0;
}

.description {
  color: rgb(105, 105, 105);
  line-height: 2rem;
  font-size: 1rem;
}

.description a {
  font-weight: bold;
  color: hsl(240deg 100% 37.45%);
}

.description a:hover,
.description a:focus,
.description a:active {
  color: blue;
}

/* Mobile and Smaller Screen Styles */
@media only screen and (max-width: 1150px) {
  .card {
    min-width: auto;
  }
}
